{% extends 'base.html' %}
{% load static %}

{% block title %}Home {% endblock %}

{% block content%}


<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Roboto.png' %}" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'about' %}" class="btn btn-primary">About 3468</a>
  </div>
</div>

{% endblock %}
