{% extends 'base.html' %}
{% load static %}

{% block title%} Members {% endblock %}
{% block content %}
<h1>Mentors</h1>
<li>Mr. Erik Aswell (Rookie Year 2017) – Rules
<br>Erik Aswell has been a teacher at West Monroe High School for 5 years.  The first year that he was here, Mr. Aswell taught as a long term substitute.  Then, he was hired on full-time and now teaches DE American History to juniors, and DE/AP Western Civilization to seniors. Mr. Aswell oversees rules and game regulations.</br> </li>

<li>Dr. Larry Blackmon (Rookie Year 2012) – Build
<br>Dr. Blackmon spent many years as an optometrist in West Monroe. Dr. Blackmon is also an accomplished machinist.  He serves as one of our build mentors.</br></li>

<li>Mr. Daryl Bridges (Rookie Year 2012) – Build
<br>Mr. Bridges spent many years as a mechanical engineer.  Now (mostly) retired, Mr. Bridges serves as one of our build mentors.</br></li> 

<li>Mr. Cameron Brister (Rookie Year 2016) – Marketing
<br>Mr. Brister helps to keep the back end of our website up and running.  He mentors our marketing team.</br></li> 

<li>Mr. Joey Higuera (Rookie Year 2010) – Build
<br>Joey is a founding member of Team 3468.  Joey is currently pursuing a degree in mechanical engineering at Louisiana Tech. Joey mentors our build team. </br></li>

<li>Mr. Larry Prather (Rookie Year 2012) – Build
<br>Mr. Prater is a jack-of-all trades.  He has many talents that he uses to help mentor our build team.</br></li> 

<h2> Programming team </h2>
<li> Mitchell Stephany (Lead) </li>
<li> Sam Evans </li>
<li> Nathan Mitchell </li>


{% endblock %}